body, .widget {
	direction: rtl;
}

.flexslider, .owl-carousel, .page-sidebar {
	direction: ltr !important;
}

/*============  FLOAT SECTION STYLE ============ */
 /* Header Style */ .left-side, .cs-login-sec > ul > li, .cs-login-sec > ul > li i, .logo, .navigation ul li,
 /* typography style */ .dropcap-one p:first-letter, .dropcap-two p:first-letter, .testimonial.left .ts-author, .messagebox span, .contact-form.cs_form_styling input,.footer_icon,#copyright p,.footer-nav ul,
 /* Common Element style */ .nav-position-top .nav-tabs > li, .cs-tabs.vertical .nav-tabs, .skillbar, .cs-services.classic.left > figure, /* cs directory_categoriesstyle */ .cat-inner img, .cs_directory_categories ul li ul li a, /* Cs Directory Grid Listing style */.dr_shortoption .cs-organizer figure,
/* Cs Directory style */ .cs-directory.default_listing .cs_thumbsection, .default_listing .cs-location-address i, .dr_userinfo li i, .cs-directory ul li, .cs-rating,/* widget style */ .widget_reviews ul li, .infotext .post_by,.widget_text ul li i,
.navigation,.SumoSelect > .CaptionCont > span,.widget-section-title h2,.widget.widget-caregories-list ul li a, .widget_categories ul li a, .widget_archive ul li a, .widget_pages ul li a, .widget.widget_recent_comments li a, .widget_meta ul li a, .widget_recent_entries ul li a, .widget_rss ul li a, widget_nav_menu ul li a, .widget-comments ul li a,
.element-detail,.cs-link-more i,.grid_two_listing .cs-location-address,.grid_two_listing .cs-location-address i,.cs-iconlist li i,.service-flat figure,.cs-blog.blog-medium .main-thumb,.detailed_listing .content_info,.pull-left,
.cs-agent-filter .filter-nav ul li,.team-grid .text h2,.listNav .ln-letters,.about-info figure, .directory-section .featured-post, .cs-directory .content_info .dr_pricesection, .main-section .cs-twitter p i,
.cat-clean ul li .cat-inner a, .twitter-section .text i, .cs-custom-rating, .post-options li, .post-thumb .thumb-options, .cs-progressbar, .colored-icon, .date-time, .socialmedia ul li, .socialmedia > h6, .cs-post-sharebtn time,
.icon-auther, #comment .thumblist li figure, #comment .thumblist li .left-sec, .comment-form p input[type="submit"], .recentblog_post .post-lst figure, .tab-content .widget_tag_cloud a, .search-results h6, .listNav .ln-letters a,
.filter-nav ul li.our-agents a i, .left-info, .right-info, .woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce #content input.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page input.button, .woocommerce button.button, .woocommerce-page button.button,
.woocommerce-page .main-section .comment-form p input, .woocommerce #review_form #respond .form-submit input, .woocommerce-page #review_form #respond .form-submit input, .cs-directory p,.SumoSelect > .CaptionCont > span,
.cs_directory_categories ul li ul li a,.loc-info figure,.featured-post,.featured-list ul li i {
	float: right !important;
}
/* top header */.right-side, .top-bar a,
/* Shortcode nav */.main-section .shortcode-nav ul > li > a > i, .navigation ul li i,.sidebar-search .distance-in-miles .input-sec small,
/* typography style */ .messagebox button, .messagebox span a, .messagebox .custom-btn, .messagebox-v3 .custom-btn, .plain small,  /* cs directory_categoriesstyle */ .cs_directory_categories ul li span, .cs-directory.grid_listing .dr_shortoption .dr_location,
/* Cs Directory style */.default_listing.cs-directory .dr_location,#copyright .social-media,.element-info,.grid_two_listing .dr_location,.detailed_listing .cs_thumbsection,.become-agent,.team-grid .text span,
.woocommerce ul.products li.product .cs-custom-rating ~ span.price, .cs-post-sharebtn .next time, #comment .thumblist li .right-sec, .become-agent i, .right-info span.category-list, .right-info .social-media ul,
.woocommerce .star-rating, .woocommerce-page .star-rating {
	float: left !important;
}
/*============  Text Aling STYLE ============ */
.widget.widget-caregories-list ul li, .widget_categories ul li, .widget_archive ul li, .widget_pages ul li, .widget.widget_recent_comments li, .widget_meta ul li, .widget_recent_entries ul li, widget_nav_menu ul li,
.sg-social ul li a, .cat-clean ul li .cat-inner, .cs-post-sharebtn .next, .cs-post-sharebtn .next h5, .cs-post-sharebtn time, .woocommerce .widget_price_filter .price_slider_amount, .woocommerce-page .widget_price_filter .price_slider_amount {
	text-align: left !important;
}
/* typography style */.testimonial.italic-style .ts-author, th, .left, 
/* Cs Directory Grid Listing style */.cs-directory.grid_listing .content_info, /* Cs Blog style */.cs-blog .bloginfo-sec, .twitter-section .text, .title-box, .widget_calendar caption, .main-section .simple .panel .panel-heading,
.panel-group.simple .panel-body, .tab-content .cs-section-title h2, .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register, .woocommerce-page form.checkout_coupon, .woocommerce-page form.login, .woocommerce-page form.register {
	text-align: right!important;
}

/*============  Header Style ============ */
#main-header .cs-login-sec > ul > li {border-right: 1px solid rgba(255, 255, 255, 0.5); border-left:none;}
#main-header .cs-login-sec > ul > li i {margin: 0;}
#main-header .cs-login-sec {margin: 20px 19px 0px 0px;}
.sg-header form p span {left: auto; right: 10px;}
.navigation ul .sub-dropdown ul { left: auto; right: 102%; }
.navigation ul > li > .sub-dropdown::before { right: 25px; left: auto !important; }
.navigation ul.mega-grid > li { width: 20em !important; }
.sub-dropdown a[title]::after { right: auto !important; left: 0px; }
.hd-btn i {display: inline-block; margin: 0 0 0 6px; }
.cs-search-map-enable.cs-search-v1 .location-icon {right: auto; left: 5px;}

/* Main Navbar Style */
.main-navbar .hd-btn {margin: 20px 15px 0 0;}
.main-navbar .logo {margin: 0 25px 0 0}
.header_3 .navigation > ul > li > a {border-right: 1px solid rgba(204, 204, 204, 0.3); border-left: none;}
.sub-dropdown {left: auto; right: 0px;}

/*============ ShortCode Nav ============ */
.main-section .shortcode-nav ul > li {padding: 10px 35px 10px 0;}
.shortcode-nav ul > li:before {right: 9px; left: auto;}
.shortcode-nav ul > li:after {right: 1px; left: auto;}
.shortcode-nav ul > li > a:after {left: auto; right: -30px;}
.shortcode-nav ul > li > a:before {right: -13px;left: auto;}

/*============ Typography page Styele ============ */
.main-section .dropcap-one p:first-letter, .main-section .dropcap-two p:first-letter {margin: 0 0px 0 20px}
.main-section blockquote:before {margin: 0 0 0 10px;}
.messagebox span a {margin: 0 7px 0 0px;}
.main-section .messagebox-v3 {padding: 32px 25px 32px 170px}
.main-section .messagebox .custom-btn, .main-section .messagebox-v3 .custom-btn{right: auto;left: 40px;}
.main-section .messagebox-v3 .close-v2 {left: 14px; right: auto;}
.main-section .nav-position-top .nav-tabs {border-left: none;}
.testimonial.italic-style .flex-direction-nav { left: 20px; right: auto; }

/*============ Common Element Styele ============ */
.main-section .cs-tabs.vertical .nav-tabs{margin: 0 0 0 -1px; border-width: 1px 1px 1px 0px; border-color: #dedede; border-style: solid;}
.cs-tabs.vertical .nav-tabs .active a:before {border-right: 1px solid #ff5422; border-left: none; left: auto; right: 0px;}
.main-section .panel-heading a:after {left: 0px; right: auto;}
.main-section .panel-heading {padding: 10px 12px 12px 50px;}
.main-section  .box .panel-default > .panel-heading:before, .main-section  .default .panel-default > .panel-heading:before {left: 0px; right: auto; border-right: 1px solid #e2e2e2; border-left: none;}
.main-section .round-strip-progressbar .skillbar small {right: auto;left: 14px;}
.main-section .round-strip-progressbar span {padding: 0  10px 0 0;}
.main-section .cs-services.classic.left > figure ~ .text {padding: 0 110px 0 0;}
.main-section .SumoSelect > .CaptionCont > label {left: 0px; right: auto; }
.directory-advanced-search-content .SumoSelect > .CaptionCont > label {border-right: 1px solid #e8e8e8; border-left: none;}
.main-section directory-advanced-search-content form ul li input.form-text, 
.main-section .directory-advanced-search-content ul li input[type="search"], 
.main-section .directory-advanced-search-content ul li input[type="text"], .main-section .directory-advanced-search-content ul li input[type="password"]{padding-right: 14px; padding-left: 0px;}

/* cs directory_categoriesstyle */ 
.cs_directory_categories .cat-inner img{margin: 0 0 0 10px;}
.cs_directory_categories .cat-inner a:nth-child(2) {margin: 0 0 0 12px; display: inline-block;}
.cs_directory_categories ul li ul li:before {left: auto; right: 0px;}
.main-section .cs_directory_categories ul li ul li {padding: 0 16px 0 0;}
.detailed_listing .content_info { padding-left: 25px; padding-right: 0px !important; }

/*============ cs directory style ============*/

/* Cs Directory Grid Listing style */
.main-section .dr_shortoption .cs-organizer figure {margin: 0 0 0 10px;}
/* Cs Directory listing style */ 
.main-section .default_listing .content_info{ padding: 0 25px 0 0;}
.default_listing .cs-location-address i {margin: 5px 0 0 6px;}
.main-section .dr_userinfo li i {margin: 0 0 0 7px;}
.default_listing.cs-directory .dr_location { right: auto !important; left: 0px; }

/*============ cs Blog style ============*/
.main-section .cs-blog .post-options li {
	margin:0 0 10px 12px;
}

.widget.widget-caregories-list ul li a::before, .widget_categories ul li a::before, .widget_archive ul li a::before, .widget_pages ul li a::before, .widget.widget_recent_comments li a::before, .widget_meta ul li a::before, .widget_recent_entries ul li a::before, .widget_rss ul li a::before, widget_nav_menu ul li a::before {
	margin: 0px 0px 0px 7px !important;
	-webkit-transform: scale(-1);
	   -moz-transform: scale(-1);
	    -ms-transform: scale(-1);
	     -o-transform: scale(-1);
	        transform: scale(-1);
}
.widget_text ul li p { padding: 0 25px 0 0px !important; }

.cs-blog-crousel .owl-nav div { right: auto; left: 0px; }
.cs-blog-crousel .owl-nav div.owl-next { right: auto; left: 23px; }
.cs-checkbox label::before { left: auto !important; right: 0px; margin-right: 0px !important; }
.cs-checkbox label { padding-left: 0px !important; padding-right: 26px !important; }
.widget_search form label { left: 15px; right: auto !important; }
.widget_calendar table thead tr th { text-align: center !important; }
.cs-link-more i { margin: 7px 0 0 4px !important; }
.grid_two_listing .cs-location-address i { margin: 4px 0px 0 10px !important; }
.cs-iconlist li i { margin: 0px 0px 0px 10px !important; -webkit-transform: scale(-1); -moz-transform: scale(-1); -ms-transform: scale(-1); -o-transform: scale(-1); transform: scale(-1); }
.cs-blog.blog-medium.blog-small-thumb .main-thumb ~ .bloginfo-sec { padding: 0 188px 0 0px !important; }
.service-flat figure ~ .text { padding: 0 115px 0 0px !important; }
.filter-nav ul li.our-agents a { margin: 0px 0px 0px 15px !important; }
.agentdetail-info { padding: 0 18px 0 0; }
.cs-user-register ul li i { right: 14px; left: auto; }
form p span i { right: 16px; left: auto; }
.cs-user-register .status-message i, .cs-user-register .cs-iconlist li i { -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
.main-section .cs-directory.grid_listing .content_info h2 {display: inline-block; min-height: auto; height: auto; width: 100%;}
.main-section .dr_pricesection span small {display: inline;}
.main-section .featured-post li {margin: 0 0 6px 7px}
.featured-post .add-featured {margin: 3px 0 0 7px;}
.main-section .cs-twitter p i {margin: 3px 0 0 10px;}
.main-section .cs-heading-style {text-align: center;}
.main-section .cs-search-area input.btn {left: 7px; right: auto;}
.main-section .page-not-found .cs-search-area input[type="text"] {padding: 0 40px 0 0;}
.main-section .cs-search-area label:before {right: 4%; left: auto;}
.main-section .cs-tabs .nav-tabs li:first-child {border-right: 1px solid #e2e2e2;}
.main-section  .cs-tabs .nav-tabs li {border-right: none; border-left: 1px solid #e2e2e2;}
.main-section .cs-progressbar {height: auto; width: 100%; background-color: inherit;}
.main-section .cs-progressbar span {background-color: inherit; margin: 0 0 10px;}
.liststyle ul li i {display: inline-block;}
.main-section .image-frame figure {margin: 0 0 10px 20px;}
.main-section .blog-editor .post-option-panel:before {right: 70px; left: auto;}
.main-section .blog-editor .post-option-panel {padding: 0 102px 0 0;}
.main-section .date-time {padding: 0 0 0 20px;}
.main-section .tablerow {padding: 20px 10px 0 30px;}
.main-section .cs-post-sharebtn .next a.post-np {right: -25px; left: auto;}
.main-section .cs-post-sharebtn .prev a.post-np {left: -25px; right: auto;}
.main-section .cs-post-sharebtn .cs-cell.left-btn {border-left: 1px solid #f6f6f6; border-right: none;}
.main-section .cs-post-sharebtn .cs-cell.right-btn {padding: 30px 25px 30px 0;}
.main-section .cs-post-sharebtn .cs-cell.left-btn {padding: 30px 0 30px 25px;}
.main-section #comment .thumblist li figure {margin: 0 0 0 40px;}
.main-section #comment .thumblist li .text-box {border-right: 1px solid #f6f6f6; border-left: none; padding: 0 30px 0 0;}
.main-section .comment-form p label i {right: 16px; left: auto;}
.main-section .comment-form p input[type="text"] {padding-right: 45px; padding-left: 0;}
.main-section .comment-form .comment-form-comment textarea {padding: 20px 45px 15px 15px;}
.main-section .widget_search form input[type="text"] {padding-right: 15px; padding-left: 0;}
.main-section .recentblog_post .post-lst figure ~ .info_sec, #footer-sec .recentblog_post .post-lst figure ~ .info_sec {padding-right: 90px; padding-left: 0;}
.main-section  .simple .panel-heading a:after, .main-section .faqs-simple .panel-heading a:after {right: 0; left: auto;}
.main-section .main-section .panel-heading a:after {right: 0; left: auto;}
.main-section .page-no-search .cs-search-area input.btn {left: 3px; right: auto;}
.main-section .cs-search-area .form-control {padding-right: 40px; padding-left: 0;}
.main-section #comment .children {margin-right: 130px; margin-left: 0;}
.main-section .recentblog_post .post-lst figure ~ .info_sec {padding-right: 90px; padding-left: 0;}
.main-section .blog-editor blockquote:before {margin: 0 0 0 5px;}
.main-section .become-agent i {margin: 5px 5px 0 0;}
.main-section .filter-nav ul li.our-agents a i {margin: 4px 0 0 7px;}
.main-section .agentdetail-info {padding: 0 18px 0 0;}
.loc-info figure ~ .content-info { padding: 10px 200px 0 0px !important; }
.featured-list ul li i { margin: 6px 0px 0px 14px !important; }


/*============ Shop style ============*/
.main-section .woocommerce ul.products li.product h3, .main-section .woocommerce-page ul.products li.product h3 {padding: 0 15px 8px 0;}
.main-section .woocommerce ul.products li.product .cs-custom-rating ~ span.price {padding: 0 0 0 10px;}
.woocommerce-page .woocommerce ul.cart_list li img, .woocommerce-page .woocommerce ul.product_list_widget li img, 
.woocommerce-page .woocommerce-page ul.cart_list li img, .woocommerce-page .woocommerce-page ul.product_list_widget li img{margin: 0 0 15px 15px;}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce #content input.button, 
.woocommerce-account .woocommerce input.button, .woocommerce-account.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, .woocommerce-page a.button, 
.woocommerce-account.woocommerce-page input.button, .woocommerce-account .woocommerce button.button, .woocommerce-account.woocommerce-page button.button {margin: 0 0 5px 10px;}
.woocommerce-page.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page.woocommerce #reviews #comments ol.commentlist li img.avatar {right: 0; left: auto;}
.woocommerce-page.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page.woocommerce #reviews #comments ol.commentlist li .comment-text {margin: 0 70px 0 0;}
.woocommerce-page.woocommerce p.stars a, .woocommerce-page p.stars a {margin-left: 1em; margin-right: 0;}

/*============ Footer style ============*/
.footer_icon { padding: 0 0px 0 20px !important; }
.become-agent { padding: 6px 0px 0 10px !important; }
#footer-sec .widget ul li {padding: 0 0 0 5px;}
.container #backtop {left: 2%; right: auto;}
.twitter-section .widget_slider .text i {margin: 1px 0 0 10px;}